/* src/components/Footer.css */
.footer {
    background-color: #4a90e2;  /* Warna latar footer */
    color: white;
    text-align: center;
    padding: 15px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 14px;
  }
  
  .footer p {
    margin: 0;
  }
  